@model Khuselo_BatWatch_r2.Models.KhuseloDb4

@{
    ViewData["Title"] = "Details";
}

<h1 class="mybtn2">Details</h1>

<div>
  
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Brand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Brand)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Branch)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Branch)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TechnName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TechnName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TechCell)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TechCell)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateExpired)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateExpired)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateInstalled)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateInstalled)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChargeCycles)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChargeCycles)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Serial">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
