@model IEnumerable<Khuselo_BatWatch_r2.Models.KhuseloDb4>

@{
    ViewData["Title"] = "Index4";
}

<h1 class="mybtn2">Electra</h1>
<form method="get" asp-action="Index" >
    <p>
        <input type="search" placeholder="serial number" value="@ViewData["GetSearch"]" name="searchString" style="width:200px"/>
        <input type="submit" value="Search" class=" btn btn-primary "/>
        <a asp-action="index">Reset </a>
    </p>

</form>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Serial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Branch)
                </th>
                <th>
                @Html.DisplayNameFor(model => model.Price)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.TechnName)
                </th>
                <th>
                @Html.DisplayNameFor(model => model.TechCell)
                </th>
                <th>
                @Html.DisplayNameFor(model => model.DateExpired)
                </th>
                <th>
                @Html.DisplayNameFor(model => model.DateInstalled)
                </th>
                <th>
                @Html.DisplayNameFor(model => model.ChargeCycles)
                </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            if (item.Branch.Contains("Elec"))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Serial)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Brand)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                   @* <td>
                        @Html.DisplayFor(modelItem => item.Branch)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.Location)
                    </td>
                   @* <td>
                        @Html.DisplayFor(modelItem => item.TechnName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TechCell)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateExpired)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateInstalled)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ChargeCycles)
                    </td>*@
                    <td>
                        @*<a asp-action="Edit" asp-route-id="@item.Serial">Edit</a> |*@
                        <a asp-action="Details" asp-route-id="@item.Serial">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Serial">Delete</a>
                    </td>
                </tr>
            }


        }
    </tbody>
</table>
